# dependencies
/part1/courseinfo/node_modules/
/part1/courseinfo/.pnp/
/part1/courseinfo/.pnp.js

# production
/build

# misc
/part1/courseinfo/.DS_Store
/part1/courseinfo/.env.local
/part1/courseinfo/.env.development.local
/part1/courseinfo/.env.test.local
/part1/courseinfo/.env.production.local

/part1/courseinfo/npm-debug.log*
/part1/courseinfo/yarn-debug.log*
/part1/courseinfo/yarn-error.log*
