@tailwind base;
@tailwind components;
@tailwind utilities;

.wristbandimage {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.spotifycode {
    width:22%;
    position: absolute;
    top: 188px;
    left: 165px;
    z-index: 2;
    filter:opacity(80%);
}

.spotifycodeblack {
    width:22%;
    position: absolute;
    top: 160px;
    left: 265px;
    transform:rotate(17deg);
    z-index: 2;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}